<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">Kitchen Story</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/admin']"> <i class="fa fa-home"></i> Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/add']">Add Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/changepassword']">Change Password</a>
                </li>
            </ul>
            <ul class="navbar-nav pull-right">
                <li class="nav-item cart-icon">
                    <a class="nav-link" (click)="onlogout()" [routerLink]="['/home']">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>