#procard{
    padding-bottom: 25px;
}

.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow : -1px 9px 40px -12px rgba(0,0,0,0.75);
}

.btn{
    margin-left: 25%;
    font-weight: 600;
}